body{
    margin:0px;
}

#nav-bar{
    background-color: gray;
    height: 90px;
}
#simp, #hex{
    margin-top: 30px;
    font-size: larger;
    margin-left: 28%;
    display: inline-block;
}
#bg-color{
    display: block;
    background-color: gray;
    margin-left: 48%;
    margin-top: 20%;
    padding: 20px;
    width: 80px;
}
#btn{
    margin-top: 2%;
    margin-left:52%;
    display: flex;
}
